@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,300&display=swap');
.gray {
  color: gray;
}
.atag2 {
  color: green;
  font-size: 12px;
}
.atag {
  background: gray;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.center-div {
font-family: 'Montserrat', sans-serif;
margin: 50px;
padding: 10px;
border: 3px solid green;
text-align: center;
border-radius: 15px;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
}
#input{
  font-family: 'Raleway', sans-serif;
  background: none;
  height: 25px;
  width: 70%;
  text-align: center;
  outline: none;
  border-radius: 10px;
}
.button{
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  border-color: #a7ccd4;
  padding: 10px;
  border-radius: 8px;
}
.buttonmain{
  background-color: #a7ccd4;
  font-size: 16px;
  border-color: #a7ccd4;
  border-radius: 20px;
  padding: 15px;
}
.buttonmain:hover {
  opacity: 0.9;
}
#header{
  background-color: #c48f96;
  display: fixed;
  width: 100%;
  margin-bottom: 10px;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  padding: 10px;
}
#menu {
  text-align: right;
}
.blue-block {
  margin: 20px;
  padding: 10px;
  border: 2px solid #9baad4;
  border-radius: 10px;
  background-color: #9baad4;
}
